<form class="Formulariologin">
    <ion-card-content>

        <ion-title>Por favor ingrese sus datos<br> para iniciar la sesion</ion-title>

        <ion-item>
            <ion-label position="floating">Ingrese su matricula</ion-label>
            <ion-input type=" text " placeholder="Ejemplo: zS17022146 "></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Ingresa tu contraseña</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button color="medium" size="large">Iniciar</ion-button>

    </ion-card-content>
</form>