<form class="FormularioRegistro">
    <ion-card-content>
        <ion-item>
            <ion-title>Por favor ingrese sus datos</ion-title>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Ingrese su nombre en el campo de abajo</ion-label>
            <ion-input type="text" placeHolder="Ejemplo: Eduardo Jared López Poseros"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Ingrese su matricula de la universidad</ion-label>
            <ion-input type="text" placeHolder="Ejemplo: zS17022146"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Ingrese su Edad</ion-label>
            <ion-input type="number" placeHolder="Ejemplo: 23"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Ingrese un correo valido</ion-label>
            <ion-input type="email" placeHolder="Ejemplo: jared@mail.com"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Por favor ingrese una contraseña</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button color="medium">Guardar</ion-button>

    </ion-card-content>
    <form>