<app-headerapp></app-headerapp>
<ion-content [fullscreen]="true">
    <app-carrusel-app></app-carrusel-app>

    <ion-label>
        ¿No tienes una cuenta?<br> Presiona el boton de aqui abajo para registrarte<br> en el sistema.
    </ion-label>
    <ion-button color="medium" [routerLink]="['/registro-page']">Registrarse</ion-button>


    <ion-label>
        ¿Ya te registraste?<br> Perfecto ahora da clic a iniciar sesion
    </ion-label>
    <ion-button color="medium" [routerLink]="['/login-page']">Iniciar Sesion</ion-button>

    <ion-item>
        <ion-card>
            <ion-card-title>
                Universidad Veracruzana
            </ion-card-title>
            <ion-card-content>
                Facultad de Estadistica e Informatica<br> Tecnologias computacionales
            </ion-card-content>
        </ion-card>
    </ion-item>

</ion-content>
<app-pieapp></app-pieapp>