ion-content {
    --background: black;
    text-align: center;
}

ion-item {
    height: 100px;
    width: 100%;
    --background: black;
    color: silver;
}

ion-card {
    height: 100px;
    width: 100%;
    --background: black;
    color: silver;
}

ion-card-title {
    font-size: 24px;
    font-family: 'Times New Roman';
    font-weight: bolder;
    color: silver;
}

ion-label {
    padding-top: 15px;
    width: 100%;
    color: silver;
    text-align: justify;
    font-size: 18px;
    padding: 5px;
    font-family: 'Times New Roman';
}

ion-button {
    padding-top: 20px;
    height: 65px;
    width: 100%;
}