ion-card {
    width: 100%;
    background-color: silver;
    color: black;
    height: 160px;
    text-align: justify;
    padding: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 15px 15px 15px 15px;
}

io-text {
    padding: 2px;
}