<ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
        <ion-card>
            <ion-text>
                Aplicacion de apoyo para los estudiantes de la EE (Experiencia Educativa) de programacion en la carrera de tecnologias computacionales dentro de la Facultad de Estadistica e Informatica. Universidad Veracruzana.
            </ion-text>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
            <ion-text>
                Aprenderas desde los conseptos mas basicos de Java hasta los mas complejos como crear aplicaciones de escritorio.
            </ion-text>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
            <ion-text>
                Comenzaremos la instalacion del entorno de trabajo para que sea claro las herramientas que utilizaremos. comenzando a programar en el block de notas hasta que estemos en IDE.
            </ion-text>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
            <ion-text>
                Habra escenarios de simulacion de examenes para practicar y asi darte cuenta de los conocimientos que has obtenido y los que debes reforzar para conseguir una mejor calificacion.
            </ion-text>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
            <ion-text>
                Se cuenta con un apartado de practicas y activides donde un profesor experto en la materia supervisara cada una de las actividades que se dejaran por cada uno de los contendos o capitulos con los que cuente.
            </ion-text>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
            <ion-text>
                Todos los usuarios deberan registrarse en los botones de abajo de la aplicaion.
            </ion-text>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
            <ion-text>
                Se cuenta con un foro o blog donde pueden subir dudas o responder dudas de otros compañeros.
            </ion-text>
        </ion-card>
    </ion-slide>
</ion-slides>